
<div class="my-5">
  <div class="wrapper-transparecy">
    <img alt="icon transparecy" data-align="left" data-entity-type="file" data-entity-uuid="aab9b2a2-eb31-4ee6-a033-feabddbc61cb" src="/sites/default/files/inline-images/Captura%20de%20Pantalla%202019-06-08%20a%20la%28s%29%201.47.31%20p.%20m..png" />
    <div class="content-text">
      <a class="text-body" href="#">Transparencia y acceso a la información pública</a>
      <p><a class="text-body text-left" href="#">Ley 1714 del 2014</a></p>
    </div>
  </div>
</div>
