// Page: Content
// -----------------------------------------------------------------------------
.page__content {
	margin-bottom: 3em;
	h2{
		margin-bottom: 1.5em;
	}
	img.img-thumbnail {
		border: none !important;
		padding: 0 !important;
		border-radius: 0;
	}
	.views-field-created, .views-field-field-textual-transcription{
		font-weight: 600;
	}
	.project-block {
		.views-field-title{ 
			margin-top: 1rem;	
			a {
			font-size: 0.6em;
			font-weight: bold;				
			color: #000;
			text-transform: uppercase;							
			&:hover {color: $blue !important; text-decoration: none;}
			&:focus {outline: 2px dotted $blue !important; padding: 5px; left: -5px; position: relative; color: $blue !important;}
			}					
		}
	}

	.more-link {
		display: flex;
    	justify-content: center;
    	margin: 2rem 0;
    	text-transform: uppercase;
		a{
			color: #fff;
	    	background-color: $blue;
	    	border-color: $blue;
	    	border: 1px solid transparent;
		    padding: 0.375rem 0.75rem;
		    font-size: 1em;
		    line-height: 1.5;
		    border-radius: 0.25rem;
		    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		    &:hover{
		    	color: #fff;
	   			background-color: #085aa4;
	    		border-color: #085397;
	    		text-decoration: none;
	   		}
	  	} 
	}
	.transparencia-block{
		margin: 5rem 0;
		#bkg-transparencia{ 
			background: url("../images/bkg-transparencia.png"), #003250;
		    background-repeat: no-repeat;
		    padding: 60px 225px;
		    float: left;	    
		}
		.textos {			
			background-color: #003250;
			height: 100%;
			display: flex;
    		justify-content: center;
    		flex-direction: column;
			h2 {
				line-height: 1.5em;
				margin-bottom: 0.5em !important;
				text-align: left;
				&::after {content: none;}
				a {						
					color: #fff;
					font-weight: 600;					
					text-transform: initial;			
				}	
			}			
			p {				
				color: #F7931E;
				font-weight: 500;
			}
		}		
	}
	.news-home, .page-search{
		h3 {
			line-height: 0.6em !important;
			font-size: 1.75rem;	
			border-bottom: none;			
			a {
				font-size: 0.55em;
				font-weight: 600;				
				color: #000;
				&::after {content: none;}
			}		
			&::after {content: none;}	
		}
		.title-one {
			margin: 20px 0 45px 0;
			height: 60px;			
			&::after {
				content: "";
				width: 40px;
			    height: 40px;
			    border-bottom: 2px solid #0A6EC8;
			    position: absolute;
			    left: 3%;
			}
		}
		.row-news {
			display: inline-block;		
			width: 100%;		
		}		
	}
	.page-search {
		h3{
			margin-bottom: 0.5em !important;
		}
		.views-field-type {
			text-transform: uppercase;
			font-weight: 500;
			float: left;
			border-right: 2px solid #0A6EC8;
			padding-right: 1em;
		}
		.views-field-created {
			padding-left: 1em;
			display: flex;
			font-weight: normal !important;
		}
		.resultado {
			border-bottom: 1px solid #C8C8C8;
			text-align: justify;
		}
		nav{
			clear: inline-start;
		}
	}
	.video-home{
		margin-bottom: 2rem;
		h3{
			font-size: 1.3em;
			padding: 20px 0;
			a{
				color: #000;
			}
			&::after {
				content: "";
				width: 40px;
			    height: 40px;
			    border-bottom: 2px solid #0A6EC8;
			    position: absolute;
			    left: 72%;
			}
		}
		.views-field-body {
			display: block !important;
			margin-top: 1.5em;
		}
		video {
			width: 100% !important;
			height: auto !important;
		}

	}
	.fila1, .fila2 {
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
		.link-item {
			width: 18%;
			border: 1px solid #efefef;
    		border-radius: 8px;
    		margin: 10px;
    		padding: 10px;
		}
		.title{
			text-transform: none !important;			
			a { 
				color: #212529 !important;
			}			
		}
		i{padding:50px !important;}
		.contacto-transparencia-ico{background: url("../images/iconos-transparencia.png"), transparent;}
		.info-transparencia-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: -120px 0;}
		.estructura-transparencia-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: -230px 0;}
		.normatividad-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: -355px 0;}
		.presupuesto-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: -480px 0;}
		.planeacion-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: 565px 0;}
		.control-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: 445px 0;}
		.contratacion-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: 330px 0;}
		.tramites-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: 210px 0;}
		.instrumentos-ico{background: url("../images/iconos-transparencia.png"), transparent; background-position: 100px 0;}
	}
	.link-item{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 3.5rem;
		i{padding:44px;}
		.fa-one-class{background: url("../images/ico-01.png"), transparent;}
		.fa-two-class{background: url("../images/ico-02.png"), transparent;}
		.fa-tree-class{background: url("../images/ico-03.png"), transparent;}
		.fa-four-class{background: url("../images/ico-04.png"), transparent;}
		.fa-five-class{background: url("../images/ico-05.png"), transparent;}
		.fa-six-class{background: url("../images/ico-06.png"), transparent;}
		.fa-seven-class{background: url("../images/ico-07.png"), transparent;}
		.fa-eight-class{background: url("../images/ico-08.png"), transparent;}
		.description{text-align: center; margin-top:1rem;}
		.title{text-transform: uppercase; color: #000; font-weight: bold; margin-top: 1rem;}
	}
	.listado-transparencia {
		i {display: none;}
		ul {
			background-color: #f7f7f7ee;
    		padding-left: 0;
    		li{
    			margin-bottom: 0;
    			a {
    				display: block;
   					padding: 1em;
    				border-bottom: 1px solid #c7c7c7dd;
    				cursor: pointer;
    				&:hover{
    					background-color: #d6d6d6;
    				}
    			}
    		}
		}
	}
}
/**Estilos Layout brenham **/

.brenham .panel-panel {
	margin-bottom: 2em;
}
.video_data {
	display:flex;
	justify-content: center;
	margin-top: 2em;	
	align-items: center;

	.item_data{
		margin: 0 20px;
	}
}

/** Estilos proyectos**/

.project__field-infografia {
	display: block;
	margin: 40px;
}
.image-project a.active img{
	display: none;
}
.views-field-field-image-evento-hover img{
	display: none;
}
.container-project {
	#myTab { margin-bottom: 2em; }
	.nav-link {
		font-size: 1.1em;
	}	
	.dato-general {	
		display: flex;		
		align-items: center;
		width: inherit;
		margin-bottom: 1.5rem !important;
		.cifra { font-weight: 600; }
		i{padding:32px; background-repeat: no-repeat; background: url(../images/proyectos-iconos-2.png), transparent;}
		.area-icono{			
			background-position: -72px 0;			
		}
		.inversion-icono{
			background-position: -140px 0;
		}
		.arte-icono{
			background-position: -212px 0;
		}		
		.comercio-icono{
			background-position: -282px 0;
		}
		.educacion-icono{
			background-position: -350px 0;
		}
		.vivienda-icono{
			background-position: -422px 0;
		}
		.espacio-publico-icono{
			background-position: -490px 0;
		}
		.vias-icono{
			background-position: -562px 0;
		}
		.cultura-icono{
			background-position: -633px 0;
		}
		.area-construida-icono{
			background-position: -772px 0;
		}
		.parques-icono{
			background-position: -702px 0;
		}
		.recreacion-icono{
			background-position: -842px 0;
		}
		.deporte-icono{
			background-position: -914px 0;
		}
		.agua-icono{
			background-position: -984px 0;
		}
		.transporte-icono{
			background-position: -1052px 0;
		}
		.etapas-icono{
			background-position: -1124px 0;
		}
		.poblacion-icono{
			background-position: -1195px 0;
		}
		.titulo-cifra { font-size: 0.9em; }		
	}
}
.news .date-social {
	display: block;
}
/*.container-project h3{
	margin-bottom: 1.5em;
}*/
aside {
	background-color: #fbfbfb;
    padding-top: 1em;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,0.1);
	h2 {
		font-weight: 700;
    	margin-left: 15px;
    	margin-bottom: 0.5em !important;	
    	font-size: 1.4em;
    	border-left: 2px solid #0A6EC8;
   		padding-left: .5em;
	}
	ul {
		display: flex;
		flex-flow: column;
		li {
			margin-bottom: 0 !important;
			border-bottom: 1px solid #dcdcdc;
			a {
				margin: 0.5em 0;
				color: #212529;
				margin: 0;
				padding: 1rem !important;
				&:hover{
					background-color: #dcdcdc;
				}
			}
		}
		li.active {
			border-bottom: 2px solid #0A6EC8
		}
	}
}